body{
    background-color: lightcoral;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.quicksand{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.changa-one-regular{
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.changa-one-regular-italic{
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.julius-sans-one-regular{
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}



#caja1{
    /* width: 33%; */
    height: 300px;
    border: 1px solid;
    background-color: brown;
    text-align: center;
   
}

#caja2{
    /* width: 33%; */
    height: 300px;
    border: 1px solid;
    background-color: blanchedalmond;
    text-align: center;
   

}

#caja3{
    /* width: 33%; */
    height: 300px;
    border: 1px solid;
    background-color: coral;
    text-align: center;
    
}

#tx1{
    padding-top: 130px;
    font-size: 40px;
}

#tx2{
    padding-top: 130px;
    font-size: 40px;
}

#tx3{
    padding-top: 130px;
    font-size: 40px;
}

@media screen and (min-width:600px){
    #contenedor{
    display: flex;
    }
    .tm-caja{
        width: 33%;
    }
}

